#youtube-video {
    padding: 40px 0;
    background-image: url(/images/index.jpg);
    background-size: cover; /* Adjust the background size as needed */
}

#youtube-video h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#youtube-video iframe {
    width: 100%; /* Make each video take up the entire width of its column */
    height: 350px; /* Set the height as needed */
    border: none;
    margin-bottom: 20px;
}

#youtube-video .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#youtube-video .col-md-4 {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
}

#youtube-video .col-md-4 h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
